src/main/mule/mule4sample.xml
<?xml version="1.0" encoding="UTF-8"?>
<!-- 2/22/2023 a -->
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

	<configuration-properties doc:name="Configuration properties" doc:id="35b201e6-9586-42e1-91f2-798420495cf4" file="mule-app.properties" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7ea03dd2-d479-47b5-a807-33fcf93f5522" >
		<http:listener-connection host="localhost" port="${HTTP_PORT}" />
	</http:listener-config>
	<flow name="mule4sampleFlow" doc:id="87842939-366f-4977-bca6-cb74f37527ce" >
		<http:listener doc:name="Listener" doc:id="505ae488-9372-45e1-b1c8-2c97ebad9d44" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="da038093-a0d7-41d0-b094-c5a96ac293a3" message="This is logger execution ${MY_PROPERTY}"/>

		<logger level="INFO" doc:name="Logger" doc:id="da038093-a0d7-41d0-b094-c5a96ac293a3" message="#[payload]"/>
	</flow>
</mule>
